In [28]:
import pymysql
pymysql.install_as_MySQLdb()
import os
import mysqlx
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [29]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float
app = Flask(__name__)

In [30]:
engine = create_engine("mysql://root:Mun&maj@0723@localhost:3306/activities_db")

In [31]:
conn = engine.connect()

In [32]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [33]:
# Query All Records in the the City Table
Combined = pd.read_sql("SELECT * FROM combined", conn)
Activities_data=pd.read_sql("SELECT * FROM activities_data", conn)

In [34]:
print(Combined)

   ﻿Mstatus  Employment_Status  Sleeping  Housework  FoodPrep  garden_care  \
0    610000                1.0      8.09       0.24      0.33         0.16
1    600000                0.0      8.88       0.68      0.59         0.22
2    617150                1.5      8.49       1.00      0.96         0.07
3    617000                0.0      8.92       1.46      1.47         0.11
4    610001                1.0      8.09       0.24      0.33         0.16
5    600011                0.0      8.88       0.68      0.59         0.22
6    617151                1.5      8.44       1.28      1.04         0.13
7    617001                0.0      8.71       1.68      1.46         0.16

   Grocery_shopping  Shopping_goods  Caring_children  Physica_care  \
0              0.08            0.23             1.25          0.46
1              0.12            0.28             2.11          0.76
2              0.14            0.34             2.68          1.26
3              0.16            0.38             3.25          1.46
4              0.08            0.23             1.25          0.46
5              0.12            0.28             2.11          0.76
6              0.17            0.39             1.10          0.29
7              0.21            0.41             1.45          0.36

   Education_activities  Reading_children  Playing_w_children  Working  \
0                  0.05              0.05                0.49     6.01
1                  0.11              0.08                0.75     2.22
2                  0.11              0.10                0.71     2.65
3                  0.20              0.11                0.93     0.02
4                  0.05              0.05                0.49     6.01
5                  0.11              0.08                0.75     2.22
6                  0.21              0.03                0.08     2.91
7                  0.32              0.04                0.12     0.06

   Socializing  Watching_television  Recreation  Travel_children  \
0         0.60                 1.94        0.28             0.12
1         1.11                 3.22        0.35             0.21
2         0.80                 1.57        0.21             0.27
3         0.85                 2.11        0.20             0.29
4         0.60                 1.94        0.28             0.12
5         1.11                 3.22        0.35             0.21
6         0.73                 1.73        0.25             0.29
7         0.85                 2.39        0.26             0.30

   Other_activities
0          1.720000
1          2.410000
2          2.020000
3          2.280000
4          1.720000
5          2.410000
6          0.405333
7          2.640000

In [35]:
Activities_data.head()

,﻿activity_ID,activity_label,610000,600000,617150,617000,610001,600011,617151,617001
0,1,Child_sleeping,8.09,8.88,8.49,8.92,8.09,8.88,8.44,8.71
1,2,Housework,0.73,2.45,2.03,3.04,0.73,3.49,2.45,3.30
2,3,Shopping,0.31,0.40,0.46,0.54,0.31,0.40,0.56,1.39
3,4,CaringForChild,2.70,6.00,3.90,4.71,1.71,4.87,1.39,3.81
4,5,Education,0.10,0.17,0.20,0.31,0.10,0.19,0.24,0.36

In [36]:
df1 = pd.read_sql_query("SELECT Sleeping FROM Combined", conn)
print(df1)

   Sleeping
0      8.09
1      8.88
2      8.49
3      8.92
4      8.09
5      8.88
6      8.44
7      8.71

In [25]:
@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")

AssertionError: View function mapping is overwriting an existing endpoint function: index

In [37]:
@app.route("/maritalstatus")
def maritalstatus():
    """Return a list Status."""

    # Use Pandas to perform the sql query
    stmt = session.query(Activities_data).statement
    df = pd.read_sql_query(stmt, session.bind)

    # Return a list of the column names (Marital Status)
    return jsonify(list(df.columns)[2:])
print(maritalstatus)

<function maritalstatus at 0x0000014D4BE36D90>

In [38]:
@app.route("/combineddata/<Status>")
def combineddata(Mstatus):
    """Return the combined data for a given marital status."""
    sel = [
        Combined.Mstatus,
        Combined.Housework,
        Combined.Sleeping,
        Combined.Shopping_goods,
        Combined.Working,
            ]

    results = session.query(*sel).filter(Combined.Mstatus == Mstatus).all()

    # Create a dictionary entry for each row of metadata information
    combined = {}
    for result in results:
        combined["Mstatus"] = result[0]
        combined["Housework"] = result[1]
        combined["Sleeping"] = result[2]
        combined["Shopping_goods"] = result[3]
        combined["Working"] = result[4]
        

   
    return jsonify(combineddata)

In [39]:
 print(combineddata)

<function combineddata at 0x0000014D4BE36BF8>

In [40]:
@app.route("/activity_data/<Mstatus>")
def acitivity_data(MStatus):
    """Return `acitivity_IDS, acitivity_labels, Mstatus_values."""
    
    # Filter the data based on Mstatus 
    
    sample_data = pd.read_sql("Select activity_ID activity_label Mstatus From Activities_data", conn)
    # Format the data to send as json
    data = {
        "acitivity_IDS": sample_data.activity_ID.values.tolist(),
        "Mstatus_values": sample_data[Mstatus].values.tolist(),
        "acitivity_lables": sample_data.activity_label.tolist(),
    }
    return jsonify(data)

In [41]:
print(acitivity_data)

<function acitivity_data at 0x0000014D4BB3DD08>

In [42]:
if __name__ == "__main__":
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)